.boolean {
  color: #DB7093;
}

.identifier {
  color: red;
}

.keyword {
  color: blue;
}

.null {
  color: #DB7093;
}

.numeric { 
  color: #DB7093;
}

.punctuator {

}

.string {
  color: #FFD700;
}

.regularExpression {
  color: green;
}

.no-token {

}

.jsx {
	color: black;
}